.gallery {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.info {
  display: flex;
}

.info-item {
  display: flex;
  flex-direction: column;
  font-size: 9px;
}
